@page "/auth"
@inject AudioService Audio
@inject AppAuthenticationStateProvider Authentication
@inject NavigationManager Navigation

<div class="auth">
    <section class="auth-box card">
        <header>
            <h1>Kwaliteitsprotocol 7B</h1>
            <h3>Toegang vereist</h3>
        </header>

        <p>Voer je persoonlijke toegangscode in om de module te openen.</p>

        <input class="auth-input" @bind="Input" />

        @if (InputIsValid is true)
        {
            <p class="glitch">Toegangscode geverifieerd. Afwijkende autorisatie gedetecteerd.</p>
        }
        else if (InputIsValid is false)
        {
            <p class="notice">Ongeldige toegangscode. Probeer opnieuw.</p>
        }

        <button class="auth-button" @onclick="Verify">Verifiëren</button>
    </section>
</div>

@code {
    bool? InputIsValid;

    public string? Input { get; set; }

    public async Task Verify()
    {
        InputIsValid = "2301".Equals(Input, StringComparison.OrdinalIgnoreCase);
        if (InputIsValid is true)
        {
            _ = Audio.Play("glitch2");
            await Task.Delay(100);

            await Authentication.UpdateAuthenticationState(new("2301", "Feenstra, Tseard"), rememberUser: true);
            await Task.Delay(1000);

            Navigation.NavigateTo("/", replace: true, forceLoad: true);
        }
    }
}
