@page "/auth"
@inject AppAuthenticationStateProvider Authentication
@inject NavigationManager Navigation

<div class="auth">
    <section class="auth-box card">
        <h1>Kwaliteitsprotocol 7B – Toegang vereist</h1>
        <p>Voer uw persoonlijke toegangscode in om de module te openen.</p>
        
        <input class="auth-input" @bind="Input" />

        @if (InputIsValid is true)
        {
            <p class="glitch">CLASSIFICATIE BEVESTIGD – MELK‑Δ17</p>
        }
        else if (InputIsValid is false)
        {
            <p class="notice">Ongeldige toegangscode. Probeer opnieuw.</p>
        }

        <button class="auth-button" @onclick="Verify">Verifiëren</button>
    </section>
</div>

@code {
    bool? InputIsValid;

    public string? Input { get; set; }

    public async Task Verify()
    {
        InputIsValid = "2301".Equals(Input, StringComparison.OrdinalIgnoreCase);
        if (InputIsValid is true)
        {
            await Authentication.UpdateAuthenticationState(new("2301", "Feenstra, Tseard"), rememberUser: true);
            await Task.Delay(500);

            Navigation.NavigateTo("/", replace: true, forceLoad: true);
        }
    }
}
