@page "/end"
@attribute [Authorize]
@inject AudioService Audio
@inject AppAuthenticationStateProvider Authentication
@inject HintsService Hints
@inject NavigationManager Navigation
@implements IDisposable

<div class="end">
    <section class="end-box card">
        <header>
            <h1>Kwaliteitsprotocol 7B</h1>
            <h3>Module voltooid</h3>
        </header>

        <article class="instructions">
            <p>De trainingsmodule is succesvol afgerond.</p>
            <p>Jouw antwoorden zijn geregistreerd en verwerkt in het interne kwaliteitssysteem.</p>
            <p>Alle procedurele stappen zijn correct doorlopen.</p>

            @if (ShowGlitch)
            {
                <p class="glitch-text">
                    <span>De vier geregistreerde waarden vertonen een onderliggend patroon—</span>
                    <span class="glitch-frag">[DATA CORRUPT]</span>
                </p>
            }

            <p><strong>Let op: </strong><i>Gegevens worden bij uitloggen automatisch gewist.</i></p>
        </article>

        <div class="end-buttons">
            @if (ShowGlitch)
            {
                <button class="primary" @onclick="Help" disabled="@HintDisabled">Hulplijn inschakelen</button>
            }

            <button class="secondary" @onclick="LogOff">Uitloggen</button>
        </div>
    </section>

    @if (CurrentHint is { } hint)
    {
        <div class="hint-overlay">
            <div class="hint-content">
                <p class="hint-anecdote">@((MarkupString)hint.Anecdote)</p>

                <img class="hint-image" src="@hint.Image" alt="Hint" />

                @if (ShowValue)
                {
                    <p class="hint-value">@((MarkupString)hint.Value)</p>
                }
            </div>
        </div>
    }
</div>

@code {
    IDisposable? MusicSubscription;

    public Hint? CurrentHint { get; private set; }
    public string? HintDisabled => CurrentHint is not null ? "disabled" : null;
    public bool ShowGlitch { get; private set; }
    public bool ShowValue { get; private set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _ = Audio.PlayOnce("end-ex-speech");
            if (await SecureStorage.Default.GetAsync("app_end_glitch") is not { Length: > 0 })
            {
                await SecureStorage.Default.SetAsync("app_end_glitch", "true");
                await Task.Delay(5000);

                ShowGlitch = true;
                StateHasChanged();

                _ = Audio.Play("glitch2");
                await Task.Delay(100);

                await Audio.Speak("end-speech", "Tseard... de patronen zijn compleet. Jij weet nu wat je met de vier waarden moet doen.", duration: 8000);
            }
            else
            {
                ShowGlitch = true;
                StateHasChanged();
            }
        }
    }

    public async Task Help()
    {
        if (!await Hints.HasGeneratedHint())
        {
            await Audio.Speak("qpq-speech", "Voor wat hoort wat. Hulplijnen vereisen wederdiensten.", duration: 5000);
        }

        ShowValue = false;
        var hint = CurrentHint = await Hints.GenerateRandomHint();
        StateHasChanged();

        MusicSubscription ??= await Audio.Play("happy-music", volume: .1, loop: true);
        await Task.Delay(500);
        await Audio.Play(hint.Audio);

        await Task.Delay(5000);
        ShowValue = true;
        StateHasChanged();

        await Task.Delay(3000);
        CurrentHint = null;
        ShowValue = false;
        StateHasChanged();
    }

    public async Task LogOff()
    {
        await Authentication.UpdateAuthenticationState(userSession: null);
        SecureStorage.Default.RemoveAll();

        Navigation.NavigateTo("/", replace: true);
    }

    public void Dispose()
        => MusicSubscription?.Dispose();
}
