@page "/"
@attribute [Authorize]
@inject NavigationManager Navigation
@inject ScenarioService Scenario

<h1>Kwaliteitsprotocol 7B</h1>
<h3>Interne trainingsmodule – De Sinterkaasfabriek</h3>

<p>Deze module bevat vier scenario’s voor kwaliteitsbewaking.</p>
<p>Voltooi alle scenario’s en noteer de cijfers die je ontvangt.</p>

<button @onclick="StartTraining">Start training</button>
<p>Alleen voor intern gebruik. Onbevoegde toegang verboden.</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        if (await Scenario.AreAllScenariosCompleted())
        {
            Navigation.NavigateTo("/end", replace: true);
        }
    }

    public void StartTraining()
        => Navigation.NavigateTo("/scenarios");
}
