@page "/scenarios"
@attribute [Authorize]
@inject AudioService Audio
@inject NavigationManager Navigation
@inject ScenarioService Scenario

<div class="overview">
    <section class="overview-box card">
        <h1>Kwaliteitsprotocol 7B</h1>
        <h3>Scenario-overzicht</h3>

        <p>Voltooi alle scenario's om de module af te ronden.</p>

        <div class="scenario-buttons">
            <button class="scenario-btn" @onclick="() => StartScenario(1)" disabled="@GetScenarioDisabled(1)">
                <span>Scenario 1 – Melkcontrole</span>
                @if (ScenarioCompletedStates?.GetValueOrDefault(1) is true)
                {
                    <span class="checkmark">✔</span>
                }
            </button>

            <button class="scenario-btn" @onclick="() => StartScenario(2)" disabled="@GetScenarioDisabled(2)">
                <span>Scenario 2 – Nachtinspectie</span>
                @if (ScenarioCompletedStates?.GetValueOrDefault(2) is true)
                {
                    <span class="checkmark">✔</span>
                }
            </button>

            <button class="scenario-btn" @onclick="() => StartScenario(3)" disabled="@GetScenarioDisabled(3)">
                <span>Scenario 3 – Incidentrapportage</span>
                @if (ScenarioCompletedStates?.GetValueOrDefault(3) is true)
                {
                    <span class="checkmark">✔</span>
                }
            </button>

            <button class="scenario-btn" @onclick="() => StartScenario(4)" disabled="@GetScenarioDisabled(4)">
                <span>Scenario 4 – Omgevingsmonitoring</span>
                @if (ScenarioCompletedStates?.GetValueOrDefault(4) is true)
                {
                    <span class="checkmark">✔</span>
                }
            </button>
        </div>

        <p class="footer-note">Alleen voor intern gebruik. Onbevoegde toegang verboden.</p>
    </section>
</div>

@code {
    public IReadOnlyDictionary<int, bool>? ScenarioCompletedStates { get; private set; }

    public string? GetScenarioDisabled(int scenario) => ScenarioCompletedStates?.GetValueOrDefault(scenario) is true ? "disabled" : null;

    protected override async Task OnInitializedAsync()
    {
        var states = ScenarioCompletedStates = await Scenario.GetScenarioCompletionStates();
        if (states.All(e => e.Value))
        {
            Navigation.NavigateTo("/end", replace: true);
        }
        else
        {
            await Audio.PlayOnce("scs-ex-speech");
        }
    }

    public void StartScenario(int scenario)
        => Navigation.NavigateTo($"/scenario/{scenario}");
}
